.user-uppercase{  text-transform: uppercase;
}

.input-user{
 padding: 8px 12px;
 color: #D3D3D3;
 border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  width: 296px;
 ;
}

.box-login{
width: 328px;
height: 512px;
border: 0px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 background: #fff;
 padding: 152px 16px 0px 16px;
}

.sign-in-with{
 position: absolute;
top: 184px;
left: 90px;
display: flex;
flex-direction: row;
color: black;

gap:16px;
margin-left: 16px;
}

.sign-in-with a{
background: #757575;
padding: 8px 16px;
border-radius: 4px;
}


.continue-with{
 position: absolute;
 top: 144px;
 left: 140px;
}