/* Background colors */
.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.bg-white {
  background-color: white;
}

/* Font colors */
.white {
  color: white;
}

.primary-500 {
  color: var(--primary-500);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300 {
  color: var(--gray-300);
}

.gray-400 {
  color: var(--gray-400);
}

.error-300 {
  color: var(--error-300);
}

.error-400 {
  color: var(--error-400);
}

/* Margins */
.m-0 {
  margin: 0;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* Paddings */
.p-0 {
  padding: 0;
}

.p- {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

/* Text styling */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}
