<div class="details__img">
  <%= image_tag model.cover, class: "details__img--cover" if model.cover.attached? %>
</div>

<div class="flex space-between">
  <div>
    <p class="heading--sm"><%= model.name %></p>
    <p class="content--xs"><%= model.release_date.year if model.release_date %></p>
  </div>

  <% if model.rating %>
    <p class="rating-btn"><%= model.rating %></p>
  <% end %>
</div>
