<div class= "card-img">
  <%= image_tag(@game.cover) if @game.cover.attached? %>
</div>

<div>
  <div class = "card--icons-container section--xs  ">
    <div class = "card--flex-column">
      <span class = "heading--sm"><%= @game.name %></span>
      <span class = "content--xs"><%= @game.release_date.year %></span>
    </div>
    <div class = "btn--card content--xl bg-secondary-300 header--content-center white">
      <%= @game.rating %>
    </div>
  </div>
</div>