.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  gap: 8px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background-color: lightgray;
  border: none;
  border-radius: 4px;
  box-shadow: var(--shadow-xs);
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: var(--primary-300);
}

.btn--primary:hover {
  background-color: var(--primary-400);
}

.btn--primary:focus {
  outline: 2px solid var(--primary-300);
}

.btn--secondary {
  color: white;
  background-color: var(--secondary-300);
}

.btn--secondary a {
  color: white;
}

.btn--secondary:hover {
  background-color: var(--secondary-400);
}

.btn--secondary:focus {
  outline: 2px solid var(--secondary-300);
}

.btn--small {
  font-size: 12px;
  line-height: 16px;
  padding: 6px 10px;
}

.btn--medium {
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
}

.btn--large {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  letter-spacing: 1.5px;
}