/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #e5e5e5;
}

footer, .navbar, .shadow, .container {
  margin: auto;
  max-width: 360px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  text-align: center;
}

.anchor {
  color: var(--primary-500);
}

.shadow {
  height: 0px;
  border: 2px solid var(--gray-200);
  width: 100%;
}

.navbar {
  padding: 12px 16px;
}

.container {
  background-color: #F2F2F2;
  padding: 0px 16px;
}

.btn--small {
  width: max-content;
}

.rating-btn {
  color: white;
  background: #757575;
  border-radius: 4px;
  padding: 4px;
  height: max-content;
}

.form__img {
  width: 100px;
  height: 130px;
}

.critic_details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0px;
}

.details_navbar {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
}

.details_navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
}

.details_navbar--selected {
  border-bottom: 4px solid var(--primary-500);
}

.details__img {
  width: 328px;
  height: 160px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.details__img--cover {
  width: 100%;
  height: auto;
}

.btn--relations__container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.btn--relations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  gap: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: white;
  background-color: var(--secondary-300);
  border-radius: 8px;
  padding: 2px 8px;
}

.btn--relations__icon {
  width: 10px;
  height: 10px;
}

.select--relations {
  width: 100%;
  padding: 8px 12px;
  border: var(--gray-200);
  box-shadow: var(--shadow-xs);
  border-radius: 6px;
}

.critic__details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0px;
}

/* SECTION STYLES */
.yield-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  padding: 24px 16px;
  box-shadow: var(--shadow-base)
}

/* FOOTER STYLES */
.footer--container {
  color: var(--secondary-500);
  font-weight: 400;
  margin: 0 auto;
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer--txt {
  color: var(--gray-400);
}

.footer--heart {
  font-size: 18px;
}

.footer--social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer--social-name {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

/* HAMBURGER MENU STYLES */
.menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  width: 360px;
  margin: auto;
}

.menu--content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px;
  list-style: none;
  align-items: center;
}

.menu-open {
  user-select: none;
  width: 14px;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
  background-image: url("icon-nav1.svg");
}

.menu-checkbox {
  display: none;
}

.menu-checkbox:checked ~ .menu-open {
  background-image: url("icon-nav2.svg");
  width: 12px;
  height: 12px;
}

.menu-checkbox:checked ~ .menu {
  border: 2px solid var(--gray-200);
  display: block;
}

/* PAGINATION STYLES */
.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pagination span.disabled {
  color: rgb(150, 150, 150);
}
